// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

/* CSS para remover as setas */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
